.rickandmortyapp-index-index {
    .characters {
        .character-item {
            background-color: #959595;
            .news-tb { 
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              
                .news-row {
                  flex: 0 0 228px;
                  margin: 10px;
                }
            }
            .character-content{
                text-align: center;
                -webkit-box-shadow: 6px 4px 9px -1px #959595; 
                box-shadow: 6px 4px 9px -1px #959595;
                cursor: pointer;
                transition: ease-in-out 1s;
            }
            .character-content:hover{
                transition: ease-in-out 1s;
                transform: scale(0.9);
            }
        }
    }
}
