<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rickandmortyapp>
            <general>
                <enable>1</enable>
                <api_url>https://rickandmortyapi.com/api/character</api_url>
            </general>
        </rickandmortyapp>
    </default>
</config>